adf/pipeline/pl_employee_timesheet_bronze_to_silver.json
{
	"name": "pl_employee_timesheet_bronze_to_silver",
	"properties": {
		"activities": [
			{
				"name": "Employee Timesheet Bronze Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/matthew.kristanto@exposedata.com.au/superhero_enterprise_hr/bronze/bronze_injest",
					"baseParameters": {
						"process_date": {
							"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"csv_file": "employee_timesheet"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_RawEnterpriseHRFiles",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Employee Timesheet Silver Cleaned Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Employee Timesheet Bronze Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/matthew.kristanto@exposedata.com.au/superhero_enterprise_hr/silver/Finance/silver_employee_timesheet_cleaned"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_RawEnterpriseHRFiles",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Capitalize Names",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Data Cleaned Checker",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/matthew.kristanto@exposedata.com.au/superhero_enterprise_hr/helpers/helper_capital_word_convertor",
					"baseParameters": {
						"invalid_records": {
							"value": "@string(json(activity('Employee Timesheet Silver Cleaned Notebook').error.message).invalid_first_name_records)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_RawEnterpriseHRFiles",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Cleaned Checker",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Employee Timesheet Silver Cleaned Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    json(activity('Employee Timesheet Silver Cleaned Notebook').error.message).error_type,\n    'FIRST_NAME_VALIDATION_FAILED'\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Employee Timesheet Silver Transformed Notebook_copy1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Employee Timesheet Silver Cleaned Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/matthew.kristanto@exposedata.com.au/superhero_enterprise_hr/silver/Finance/silver_employee_timesheet_transformed"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_RawEnterpriseHRFiles",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Bronze_To_Silver"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-30T05:25:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}